<style>
    .fa-edit,
    .fa-trash-alt,
    .fa-eye {
        display: inline-block;
        cursor: pointer;
    }

    .fa-trash-alt,
    .fa-eye {
        margin-left: 7px;
    }

    .btn-label {
        display: inline-block;
        padding: 10px 0px;
        border-radius: 3px 0 0 3px;
    }

    .btn-labeled {
        padding-top: 0;
        padding-bottom: 0;
    }

    .btn {
        margin-bottom: 10px;
    }
</style>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <a href="/profile/add" class="btn btn-labeled btn-danger">
                <span class="btn-label"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;Add New User</span>
            </a>
            <br>
            <br>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title"> All User</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        First Name
                                    </th>
                                    <th>
                                        Last name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th class="text-center">
                                        Active
                                    </th>
                                    <th class="text-center">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach(item=>{ %>
                                <tr>
                                    <td>
                                        <%= item.username %>
                                    </td>
                                    <td>
                                        <%= item.firstname %>
                                    </td>
                                    <td>
                                        <%= item.lastname %>
                                    </td>
                                    <td>
                                        <%= item.email %>
                                    </td>
                                    <td>
                                        <% if(item.phone == '' || item.phone == undefined){ %>
                                        <span>No Phone Number</span>
                                        <% }else{ %>
                                        <span><%= item.phone %></span>
                                        <% } %>
                                    </td>
                                    <td>
                                        <% if(item.country == '' || item.country == undefined){ %>
                                        <span>No Country</span>
                                        <% }else{ %>
                                        <span><%= item.country %></span>
                                        <% } %>
                                    </td>
                                    <td class="text-center">
                                        <% if(item.active == true){ %>
                                        <i class="fas fa-check-circle" style="color: #2ecc71"></i>
                                        <% }else{ %>
                                        <i class="fas fa-times-circle" style="color: #e74c3c"></i>
                                        <% } %>
                                    </td>
                                    <td class="text-center">
                                        <% if(item.username == admin.username){ %>
                                        <a href="/profile/edit/<%= item.username %>"><i class="fas fa-edit" style="color: #e74c3c"></i></a>
                                        <a href="/profile/see/<%= item.username %>"><i class="fas fa-eye" style="color: #e67e22"></i></a>
                                        <% }else{ 
                                             if(item.role != 'CEO/Manager'){ %>
                                        <a href="/profile/edit/<%= item.username %>"><i class="fas fa-edit" style="color: #e74c3c"></i></a>
                                        <a href="/profile/see/<%= item.username %>"><i class="fas fa-eye" style="color: #e67e22"></i></a>
                                        <a href="/profile/delete/<%= item._id %>"><i class="fas fa-trash-alt" style="color: #bdc3c7"></i></a>
                                        <% }else{ %>
                                        <a href="/profile/see/<%= item.username %>"><i class="fas fa-eye" style="color: #e67e22"></i></a>
                                        <% } 
                                        } %>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>