<style>
    .fa-edit,
    .fa-trash-alt,
    .fa-eye {
        display: inline-block;
        cursor: pointer;
    }

    .fa-trash-alt,
    .fa-eye {
        margin-left: 7px;
    }

    .btn-label {
        display: inline-block;
        padding: 10px 0px;
        border-radius: 3px 0 0 3px;
    }

    .btn-labeled {
        padding-top: 0;
        padding-bottom: 0;
    }

    .btn {
        margin-bottom: 10px;
    }
</style>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <a href="/tour/add" class="btn btn-labeled btn-danger">
                <span class="btn-label"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;Add New Tour</span>
            </a>
            <br>
            <br>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title"> All Tour</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Thumbnail
                                    </th>
                                    <th>
                                        Tour Name
                                    </th>
                                    <th class="text-center">
                                        Price Adult
                                    </th>
                                    <th class="text-center">
                                        Price Children
                                    </th>
                                    <th class="text-center">
                                        Currency
                                    </th>
                                    <th>
                                        Duration
                                    </th>
                                    <th class="text-center">
                                        Max People
                                    </th>
                                    <th class="text-center">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% tours.forEach(item=>{ %>
                                <tr>
                                    <td>
                                        <% if(item.thumbnail == '' || item.thumbnail == undefined){ %>
                                        <span style="color: #e74c3c">No Thumbnail</span>
                                        <% }else{ %>
                                        <img src="/img/tour/<%= item.thumbnail %>" alt=""
                                            style="width: 60xp; height: 60px;">
                                        <% } %>
                                    </td>
                                    <td>
                                        <%= item.name %>
                                    </td>
                                    <td class="text-center">
                                        <%= item.priceAdult %>
                                    </td>
                                    <td class="text-center">
                                        <%= item.priceChildren %>
                                    </td>
                                    <th class="text-center">
                                        <%= item.currency %>
                                    </th>
                                    <td>
                                        <%= item.duration %>
                                    </td>
                                    <td class="text-center">
                                        <%= item.maxPeople %>
                                    </td>
                                    <td class="text-center">
                                        <a href="/tour/edit/<%= item._id %>"><i class="fas fa-edit"
                                                style="color: #e74c3c"></i></a>
                                        <a href="/tour/delete/<%= item._id %>"><i class="fas fa-trash-alt"
                                                style="color: #bdc3c7"></i></a>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>